/* **** Billeder **** */

.om_img img {
    width: 40vw;
    margin: 0px 10px 10px 40px;
}

.kurser_img img {
    width: 40vw;
    margin: 0px 40px 10px 10px;
}


/* **** Billeder slut **** */

p {
    text-align: justify;
}

h3 {
    font-family: 'Muli', sans-serif;
}

h4 {
    font-family: 'Muli', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.sider {
    max-width: 1400px;
    border-left: 100px solid #F2F2F2;
    border-right: 100px solid #F2F2F2;
    border-top: 20px solid #F2F2F2;
}

@media screen and (max-width: 1200px) {
    .sider {
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
    }
}


/* **** Menu **** */

.logo_top {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.nav_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.linie {
    width: 30%;
    border-top: solid 2px #8a8a8a;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 960px) {
    .linie {
        width: 0;
        border-top: solid 0px white;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

header nav {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

header nav a {
    text-decoration: none;
    color: #710036;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 10px;
    margin-bottom: 20px;
    display: block;
}

header nav a:hover {
    color: #8a8a8a;
}

@media screen and (min-width: 675px) {
    header nav a {
        display: inline-block;
    }
}


/* **** Menu slut **** */


/** youtube video **/

#splash {
    width: 80%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.hs-responsive-embed-youtube iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.hs-responsive-embed-youtube {
    position: relative;
    padding-bottom: 56.25%;
}


/** youtube video slut **/


/** om os **/

#om h2 {
    display: inline;
    padding: 10px;
}

.om_logo {
    width: 80px;
}

#om {
    margin-top: 40px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 40vw;
}

#om .om_logo {
    width: 90px;
}

@media screen and (max-width: 1200px) {
    #om .container {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }
    #om .om_logo {
        width: 120px;
    }
}


/** om os slut **/


/* **** Supervision og kurser **** */

#kurser h2 {
    display: inline;
    padding: 10px;
}

.kurser_logo {
    width: 80px;
}

#kurser {
    margin-top: 40px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 40vw;
}

#kurser .kurser_logo {
    width: 90px;
}

@media screen and (max-width: 1200px) {
    #kurser .container {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }
    #kurser .kurser_logo {
        width: 120px;
    }
}


/* **** Supervision og kurser slut **** */

h2 {
    font-family: 'Muli', sans-serif;
    color: #710036
}

p {
    font-family: 'Lato', sans-serif;
}

.section_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    flex-basis: 300px;
}

.column_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.fakta_tekst {
    flex-basis: 100px;
}

.column_right {
    flex-basis: 200px;
}


/* **** Faktaboks **** */

.column_right {
    background-color: #8a8a8a;
}

.column_left {
    background-color: #8a8a8a;
    color: #710036;
}

.column_left h2 {
    color: #710036;
}


/* **** Priser og vilkår **** */

#priser_vilkår .tekst {
    margin: 0 100px;
    text-align: justify;
    justify-content: center;
}

#priser_vilkår h3 {
    margin: 50px 0px 0px;
}
