/* **** Menu **** */

.logo_top {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.nav_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.linie {
    width: 30%;
    border-top: solid 2px #8a8a8a;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 960px) {
    .linie {
        width: 0;
    border-top: solid 0px white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    }
}



header {
    width: 100vw;
    padding: 1em;
}

header nav {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

header nav a {
    text-decoration: none;
    color: #8a8a8a;
    padding-left: 4px;
    padding-right: 4px;
    display: block;
}

header nav a:hover {
    color: #710036;
}

@media screen and (min-width: 675px) {
    header nav a {
        display: inline-block;
    }
}


/* **** Menu slut **** */

h2 {
    font-family: 'Muli', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

.section_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    flex-basis: 300px;
}

.column_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.fakta_tekst {
    flex-basis: 100px;
}

.column_right {
    flex-basis: 200px;
}
